/*--------------------stylr for all pages---------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* This ensures padding doesn't affect the total width/height of elements */
}
body, html {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*--------------------stylr for index.html---------------------------*/
.gallery-container {
  text-align: center;
  max-width: 1000px;
  margin: auto;
}
.search-bar {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  width: 300px;
  border-radius: 4px;
}
.AG {
  margin-bottom: 20px;
}
.circle {
  display: inline-block;
  margin: 10px;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}
.do { background-color: #9a9cff; }
.re { background-color: #80cc80; }
.mi { background-color: #ffd699; }
.slogan {
  font-style: italic;
  border: none;
  display: inline-block;
  padding: 10px;
  margin-top: 20px;
}
/*--------------------stylr for do.html---------------------------*/
.gallery-container-do, .gallery-container-re, .gallery-container-mi {
  text-align: center;
  max-width: 1000px;
  margin: auto;
}
.AG-do, .AG-re, .AG-mi {
  margin-bottom: 20px;
}
.search-bar-gallery {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  width: 200px;
  border-radius: 4px;
}
.home {
  display: inline-block;
  height: 30px;  
  width: 50px;
  border-radius: 10%;
  margin-top: 50px;
}
.content-do, .content-re, .content-mi {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: calc(100% - 40px); /* Adjusted for navbar height */
  position: relative; /* Positioning context for absolutely positioned elements */
}

.image-do, .image-re, .image-mi {
  width: 200px; /* Set width */
  height: auto; /* Set height */
  border-radius: 50%; /* Make it circular */
  object-fit: contain;
}

.buttons-container {
  display: flex; /* This will lay out the children elements in a row */
  justify-content: space-around; /* This will space them evenly in the container */
  align-items: center; /* This will center them vertically */
  flex-wrap: wrap; /* This allows the items to wrap onto the next line if there is not enough space */
}
.button {
  border: 1px solid #999;
  border-radius: 30px;
  padding: 8px;
  margin: 8px;
  text-decoration: none;
  color: black;
  background-color: white;
  transition: background-color 0.3s;/* This will make the color change smooth */
}
.button:hover, .home:hover {
  background-color: #e7e7e7;
  cursor: pointer;
}
/*--------------------stylr for do, re, mi----------------------*/
.do-gallery{
  background-color: #9a9cff; 
  display: inline-block;
  height: 30px;  
  width: 50px;
  border-radius: 10%;
}
.do-gallery:hover {
  background-color: #9370db;
  cursor: pointer;
}

.re-gallery{
  background-color: #80cc80; 
  display: inline-block;
  height: 30px;  
  width: 50px;
  border-radius: 10%;
}
.re-gallery:hover {
  background-color: #6b8e23;
  cursor: pointer;
}

.mi-gallery{
  background-color: #ffd699; 
  display: inline-block;
  height: 30px;  
  width: 50px;
  border-radius: 10%;
}
.mi-gallery:hover {
  background-color: #ffcc66;
  cursor: pointer;
}

.date-gallery {
  font-size: 24px;       /* Larger text for the date */
  font-weight: bold;
  margin-top: 50px;     /* Space above the date */
  margin-bottom: 10px;   /* Space below the date */
  text-align: left;
}

.gallery {
  display: flex;         /* Enables flexbox */
  flex-wrap: wrap;       /* Allows items to wrap onto the next line */
  gap: 20px;             /* Sets the gap between images */
  justify-content: flex-start; /* Aligns items to the start of the flex container */
}

img {
  width: 220px;          /* Sets a fixed width for all images */
  height: auto;          /* Maintains the aspect ratio of the images */
  object-fit: contain;  /* Ensures the image has its original dimensions */
  padding: 15px 15px 15px 15px; /* Adds padding around the images */
  transition: transform 0.5s ease; /* Smooth transition for transformation */
}
img:hover {
  transform: scale(3.0); /* Enlarges the image by 300% on hover */
  z-index: 2; /* Ensures the image pops out over others */
}

/* Media Queries for different screen sizes */
@media (max-width: 768px) { /* For tablets */
  img {
    max-width: 100px;    /* Smaller images on tablets */
  }
  .date-gallery {
    font-size: 18px;     /* Smaller font size for the date */
  }
}
@media (max-width: 480px) { /* For mobile phones */
  .gallery {
    gap: 1%;             /* Smaller gap on mobile */
  }
  img {
    max-width: 80px;     /* Even smaller images on mobile */
  }
  .date-gallery {
    font-size: 16px;     /* Even smaller date font size */
  }
}
